*
{
    margin:0;
    padding:0;
}
h1{
    text-align: center;
    margin-top: 2rem;
    width:50%;
    
}
#mainheading
{
   background-color: blue;
   margin-left: 23rem;
   
}

.converter-head
{
    margin-left:10rem;
    margin-top: 1rem;
    margin-bottom:1rem;

}
#equal
{
    margin-left:11rem;
    margin-bottom: 1rem;
}
#contain
{
    margin:3rem 8rem 5rem 1rem;
    width:40rem;
    text-align: center;
    background-color: aqua;
    border-radius: 1rem;
    padding: 1rem 1rem 1rem 1rem;
}
#contain1
{
    margin:3rem 1rem 5rem 36rem ;
    width:40rem;
    text-align: center;
    background-color: aqua;
    border-radius: 1rem;
    padding: 1rem 1rem 1rem 1rem;
}
.inp
{
    padding: 0.5rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 10rem;
}